.btn-primary {
    background: $primaryColor;
    border: none;
    border-radius: 30px;
    color: $whiteColor;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    letter-spacing: 1px;
    outline: none;
    width: 100%;

    &:hover {
        background-color: darken( $color: $primaryColor, $amount: 10);
    }

    transition: background-color .30s ease;
}

.btn__edit {
    background: rgb(100, 233, 129);
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    cursor: pointer;
    padding: 7px;
    letter-spacing: 1px;
    outline: none;
    margin-right: 10px;
    font-size: 12px;

    &:hover {
        transform: scale(1.10);
        transition: .90s;
        background-color: darken( $color: rgb(100, 233, 129), $amount: 10);
    }

    transition: .90s;
}

.btn__delete {
    background: rgb(211, 73, 60);
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    cursor: pointer;
    padding: 7px;
    letter-spacing: 1px;
    outline: none;
    font-size: 12px;

    &:hover {
        transition: .90s;
        transform: scale(1.10);
        background-color: darken( $color: rgb(184, 63, 52), $amount: 10);
    }

    transition: .90s;
}

/* Fabs */
.fab {
    background-image: url(../../../public/assets/mas.png);
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    position: fixed;
    right: 25px;
    cursor: pointer;
    transition: 0.80s;

    &:hover {
        transform: scale(1.25);
        transition: 0.80s;
    }
}

.fab-close {
    background-image: url(../../../public/assets/cerrar.png);
    z-index: 9999;
}

.btn__search {
    background: rgb(61, 151, 224);
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    cursor: pointer;
    height: 28px;

    &:hover {
        transform: scale(1.05);
        transition: .90s;
        background-color: darken( $color: rgb(61, 151, 224), $amount: 10);
    }
    transition: .90s;
}

.btn__add {
    background: rgb(100, 233, 129);
    border: none;
    border-radius: 5px;
    color: $whiteColor;
    cursor: pointer;
    height: 28px;

    &:hover {
        transform: scale(1.05);
        transition: .90s;
        background-color: darken( $color: rgb(100, 233, 129), $amount: 10);
    }
    transition: .90s;
}