/* Sidebar Cerrada e item Desactivado */
.normal {
    width: 60px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    margin-bottom: 10px;
}

/* Sidebar Cerrada e item Activo */
.normal[aria-current] {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: $neutralBlueColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;

    ::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 60px;
        background-color: $primaryColor;
        left: 0;
        top: 0;
    }
}

/* Hovers Sidebar Cerrada */
.normal:hover {
    path {
        fill: $whiteColor;
    }
}

/* Sidebar Abierta e item Desactivado */
.link__open {
    height: 65px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    gap: 15px;
    transition-duration: 0.3s;
    margin-bottom: 10px;

    p {
        color: $whiteColor;
        font-size: 14px;
        padding-bottom: 2px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Sidebar Abierta e item Activado */
.link__open[aria-current] {
    position: relative;
    height: 60px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition-duration: 0.3s;
    background-color: $neutralBlueColor;

    ::after {
        content: "";
        position: absolute;
        width: 3px;
        height: 60px;
        background-color: $primaryColor;
        left: 0px;
        top: 0;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 14px;
        padding-bottom: 2px;
    }

    p::after {
        display: none;
    }
}

/* Hovers Sidebar Abierta */
.link__open:hover {
    p {
        color: $whiteColor;
    }
    path {
        fill: $whiteColor;
    }
}