.sidebar__close {
    position: absolute;
    width: 60px;
    height: 100vh;
    background-color: $darkBlueColor;
    transition-duration: .70s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
}

.img__option {
    background-color: $neutralBlueColor;
    padding: 8px;
    border-radius: 10px;
}

.sidebar__open {
    position: absolute;
    width: 230px;
    height: 100vh;
    background-color: $darkBlueColor;
    transition-duration: 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;

    a {
        text-decoration: none;
    }
}