// ? Colores
$primaryColor: #36b0ed;
$primaryColorDark: #2f90c0;
$greyColor: #5b6b72;
$whiteColor: #FFFFFF;
$neutralBlueColor: #3f4172;
$darkBlueColor: #050949;
$redColor: rgb( 211, 73, 60 );
$greenColor: rgb( 100, 233, 129 );
$blueColor: rgb( 61, 151, 224 );